$color-gray-white: #f0f3ff;
$color-blue: #5d78ff;
$color-black-dark: #242939;
$color-black-darker: #1f2433;
$color-text-dark: #3d4465;
$color-text-gray: #a1a8c3;

$shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);